docs/
out_server/
build/
dist/
*.xml
.vscode
.idea
*venv*
__pycache__
*.pyc
coverage.json
3.2.0.md
.coverage
/test_client.py
openapi.json

client.py
docs.json
spec.json
all_objects.txt
objects.txt
compliance-openapi-3-2-0/
debug_compliance.py
fix_all.py
fix_coverage.py
test_get_terms.py
update.py

*.wasm
node_modules/
__pycache__/
*.o
*.so
target/
.idea/
